<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap-italia/css/bootstrap-italia.min.css') }}"
    />
    <script>
      window.__PUBLIC_PATH__ = "static/bootstrap-italia/fonts";
    </script>
    <script src="{{ url_for('static',filename='bootstrap-italia/js/bootstrap-italia.bundle.min.js') }}"></script>

    <title>PythonBiellaGroup App</title>
  </head>
</html>
<body>
  <div class="it-header-slim-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <a
              class="d-none d-lg-block navbar-brand"
              href="{{ url_for('index') }}"
              >P.B.G. App dei Corsi</a
            >
            <div class="nav-mobile">
              <nav>
                <a
                  class="it-opener d-lg-none"
                  data-toggle="collapse"
                  href="#menu1"
                  role="button"
                  aria-expanded="false"
                  aria-controls="menu1"
                >
                  <span>Python Biella Group App dei Corsi</span>
                </a>
                <div class="link-list-wrapper collapse" id="menu1">
                  <ul class="link-list">
                    <li>
                      <a class="list-item" href="{{ url_for('index') }}"
                        >Home</a
                      >
                    </li>
                    <li>
                      <a class="list-item" href="{{ url_for('corsi.create') }}"
                        >Nuovo Corso</a
                      >
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="it-header-slim-right-zone">
              <div class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  data-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span>Ita</span>
                </a>
                <div class="dropdown-menu">
                  <div class="row">
                    <div class="col-12">
                      <div class="link-list-wrapper">
                        <ul class="link-list">
                          <li>
                            <a class="list-item" href="#"><span>ITA</span></a>
                          </li>
                          <li>
                            <a class="list-item" href="#"><span>ENG</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="it-access-top-wrapper">
                <a class="btn btn-primary btn-sm" href="#">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block content %} {% endblock %}
</body>
