{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block content %}

<!-- Messaggi flash -->
<div class="container">
  {# Flashed messages #}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {# End Flashed messages #}
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-10">
      <div class="row align-items-center justify-content-center">
        <h2>Sito del Python Biella Group</h2>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">

    <div>
      {% if current_user.can(Permission.WRITE) %}      
      <h3>Inserisci un approfondimento, una richiesta o un tuo pensiero "pythonesco"</h3>
      <p>Puoi usare la sintassi <a href="https://en.wikipedia.org/wiki/Markdown">markdown</a>. Vedrai sotto la preview.</p>

      {{ wtf.quick_form(form, novalidate=True, button_map={'submit':'success'}) }}
      {% else %}
      <p><a href="{{url_for('auth.login')}}">Accedi</a> o <a href="{{ url_for('auth.register') }}">registrati</a> per inserire nuovi articoli, eventualmente commentarli e vedere tutte le serate.<br>
      In alternativa puoi vedere le <a href="{{ url_for('serate.prossime') }}">prossime serate</a> in programma o i <a href="{{ url_for('corsi.lista') }}">corsi</a> (passati e futuri).</p>
      <p>Qui di seguito gli ultimi articoli scritti.</p>
      {% endif %}
    </div>
  </div>


    <div class="post-tabs">
      {% include '_posts.html' %}
    </div>

    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'main.index') }}
    </div>
    {% endif %}
    

</div>
{% endblock %}

<br>
<img src="../static/pgb_logo_small.jpg" alt="Python Biella Group" class="rounded mx-auto d-block">

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
