{% extends "base.html" %} 
{% block content %}

<div class="container text-center">
    <br>
    <h1>Le prossime serate in programma</h1>
    <br>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Nome - Descrizione</th>
        <th scope="col">Links partecipazione</th>
        <th scope="col">Corso</th>
      </tr>
    </thead>
      <tbody>
    {% for s,c in zipped_data %}

      <tr>
        <th scope="row">{{ s.data.strftime('%d/%m/%Y %H:%M') }}</th>
        <td>{{ s.nome }} - {{ s.descrizione }}</td>
        <td>
            {% if s.link_partecipazione %}
              <a href="{{ s.link_partecipazione }}">{{ s.link_partecipazione }}</a>
            {% else %}
              Non ancora disponibile
            {% endif %}
        </td>
        <!--Corso-->
        <td>
          {% if c %}
          <a href="/corsi/{{ c.id }}"><button class="btn btn-outline-primary btn-sm" >{{ c.nome }}</button></a>         
          {% else %}
           Serata non collegata a corso
          {% endif %}
        </td>
      </tr>
      {% endfor -%}
    </tbody>
  </table>

  {% endblock %}