{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

    <!-- Messaggi flash -->
    <div class="alert alert-primary" role="alert">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>

    <div class="container text-center">
        <br>
        <h1>Modifica Post</h1>
        <br>
    </div>

    <div class="container">
      <div class="row align-items-center justify-content-center">
    

        <div>
            {{ wtf.quick_form(form, novalidate=True, button_map={'submit':'success'}) }}
        </div>

      </div>
    </div>
    
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
