{% extends 'base.html' %} {% block content %}
<br />
<p>
  <!-- The first time you go to else because the variable is set to false in python-->
  <!-- Then when you compile the form you can see there the informations-->
  {% if form_breed %} The breed you entered is: <b>{{form_breed}}</b>
  <br />
  Update it in the form below if you wanna change! {% else %}
  <br />
  Please enter your breed compiling the form {% endif %}
</p>
<br />
<form action="" method="POST">
  <!-- Use the advance form (form) object here -->
  {{ advance_form.hidden_tag() }} {{ advance_form.breed.label }} {{
  advance_form.breed() }} {{ advance_form.submit() }}
</form>
{% endblock content %}
