{% extends 'base.html' %}
{% block content %}
    
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
    
    <form action="" method="post">
        <p>Press here to launch the alert</p> 
        <br>
        {{ form.hidden_tag() }}{{ form.submit() }}

    </form>
{% endblock content %}