<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JeyDi Website</title>
  </head>
  <body>
    {% if log_ok == 'no' %}
    <p>Variable login error</p>
    {% elif log_ok %}
    <p>Welcome, you are logged in!</p>
    {% else %}
    <p>Your are not logged in!</p>
    {% endif %}
    <br />
    <h1>The puppy has name {{puppy_name}}</h1>
    <h2>The available puppy in the shop are: {{puppy_list}}</h2>
    <ul>
      {% for puppy in puppy_iter_list %}
      <li>{{ puppy }}</li>
      {% endfor %}
    </ul>
    <p>
      {% if 'bob' in puppy_iter_list %} Bob is here and available! {% else %}
      Bob is not here! {% endif %}
    </p>
  </body>
</html>
