{% extends 'base.html' %} {% block content %}
<div class="jumbotron">
  <h1 class="display-3">Welcome to the Puppy Survey</h1>
  <p class="lead">
    Please fill the form below to give us information about your puppy
  </p>
  <hr class="my-2" />
  <form action="" method="post">
    {{ form.hidden_tag() }} {{ form.breed.label }}{{ form.breed }}
    <br />
    {{ form.neutered.label }}{{ form.neutered }}
    <br />
    {{ form.food_choice.label }}{{ form.food_choice }}
    <br />
    {{ form.mood.label }}{{ form.mood }}
    <br />
    Any other feedback?
    <br />
    {{ form.feedback}}
    <br />
    {{ form.submit() }}
  </form>
</div>
{% endblock content %}
