<p>Ciao {{ user.username }},</p>
<p>per resettare la password, clicca sul seguente <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}"> link</a>.</p>
<p>In alternativa puoi copiare sul browser il seguente indirizzo:</p>
<p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>
<p>Se non hai richiesto il cambio password, semplicemente ignora questo messaggio.</p>
<br>
<p>Cordialmente,</p>
<p>Python Biella Group</p>
<img src="{{ url_for('static', filename='pgb_logo.jpg', _external=True) }}" alt="Python Biella Group" class="rounded mx-auto d-block">
<p><small>Non rispondere a questa mail, nessuno risponderà</small></p>
