{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block content %}

    <!-- Messaggi flash -->
    <div class="alert alert-primary" role="alert">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>

      <div class="container text-center">
        <br>
        <h1>Moderazione commenti</h1>
        <br>
    </div>

{% set moderate = True %}
{% include '_comments.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'commenti.moderate') }}
</div>
{% endif %}
{% endblock %}